@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

body {
  font-family: "Google Sans", sans-serif;
  background-color: oklch(97% 0.014 254.604); /*Azul 50 Tailwind*/
}

:root {
  --ig-primary-color: #ffffff;
  --ig-white: #fff;
  --ig-black: #000;
  --ig-background-overlay: rgba(0, 0, 0, 0.4);
  --ig-thumbnail-size: 150px;
  --ig-thumbnail-size-small: 90px;
  --ig-thumbnail-border-width: 5px;
  --ig-thumbnail-border-width-small: 2px;
  --ig-bullet-size: 5px;
  --ig-bullet-size-small: 4px;
}

.image-gallery-thumbnail {
  display: inline-block;
  border: var(--ig-thumbnail-border-width, 4px) solid transparent;
  transition: border 0.3s ease-out;
  width: var(--ig-thumbnail-size, 96px);
  background: transparent;
  padding: 0;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .image-gallery-thumbnail {
    border: var(--ig-thumbnail-border-width-small, 3px) solid transparent;
    width: var(--ig-thumbnail-size-small, 80px);
    border-radius: 8px;
  }
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
  vertical-align: middle;
  width: 100%;
  line-height: 0;
  border-radius: 5px;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fade-up 0.8s ease-out forwards;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-400 {
  animation-delay: 0.4s;
}

.delay-600 {
  animation-delay: 0.6s;
}

@keyframes fade-down {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(10px);
  }
}

.animate-fade-down {
  animation: fade-down 0.1s ease-out forwards;
}

@keyframes slide-in-right {
  from {
    opacity: 1;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.35s ease-out forwards;
}

@keyframes slide-out-left {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 1;
    transform: translateX(100%);
  }
}

.animate-slide-out-left {
  animation: slide-out-left 0.35s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out;
}
